
a
{

    text-decoration: none;
    color: black;

}


#body
{
    text-decoration: none;
    padding: ;
    background-color: #6c5a84

}

.container-fluid
{
    color: green;
}


.col
{

    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    border-radius: 0px;

}

.container
{

    border-radius: 0px;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    background-color: grey;
    overflow: hidden;
    border-color: purple;
    border-bottom: purple;
    text-decoration: none;
    outline-width: 5px;
    outline-color: white;
    outline-style: outset;

.col:hover
{

    background-color: #5d5b5b;

}

.text-muted
{

    color: #646464;

}

.blockquote
{

    margin: 50px 0px 0px 275px;

}


.blockquote-footer
{

    color: grey;

}


.test
{

    text-align: center;

}


.card
{

    margin: 0px 0px 0px 20px;
    border-radius: 30px;

}


.card-body
{

    text-align: center;
    border-width: 1rem;
    border-color: black;
    background-color: #524465;

}

.row
{

    text-align: center;

}


#naglowek
{

    margin: 20px 0px 0px 0px;

}


#box
{

    border-radius: 30px;

}


#box2
{

    background-color: #508080;

}


#carouselExampleControls
{

    margin: 25px 25px 25px 25px;
    border-radius: 30px;

}


button
{

   margin: 25px 25px 25px 25px;

}


button:hover
{

   background-color: #5d5b5b; 

}


.row
